<script lang="ts" setup>
import { computed, ref } from "vue";
interface Product {
  id: number;
  name: string;
  price: number;
}
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const productList = ref<Product[]>([]);

const addProduct = (product: Product) => {
  productList.value.push(product);
};

const total = computed(() => {
  let totalmonay = 0;
  for (let i = 0; i < productList.value.length; i += 1) {
    totalmonay += productList.value[i].price;
  }
  return totalmonay;
});
</script>
<template>
  <v-row>
    <v-col cols="6" class="mt-6">
      <v-row class="sizetableProduct">
        <v-col v-for="(product, index) of products" :key="index" md="4">
          <v-card class="center pa-5">
            <v-card-item>
              <div>
                <div class="text-h5">{{ product.name }}</div>
                <div>{{ product.price }}</div>
              </div>
            </v-card-item>
            <v-btn @click="addProduct(product)">Add</v-btn>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="6" class="mt-6">
      <v-table class="sizetableList" height="510px">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="center text-h6" v-if="productList.length === 0">
            <td colspan="3">No Data</td>
          </tr>
          <tr v-for="(item, index) of productList" :key="index">
            <td class="text-left">{{ item.id }}</td>
            <td class="text-left">{{ item.name }}</td>
            <td class="text-left">{{ item.price }}</td>
          </tr>
        </tbody>
      </v-table>
      <v-row>
        <div class="text-h2 mt-6 font-weight-medium mx-10">
          Sum : {{ total }}
        </div>
      </v-row>
    </v-col>
  </v-row>
</template>
<style scoped>
.sizetableProduct {
  overflow-y: auto;
  max-height: 600px;
}
.sizetableList {
  overflow-y: auto;
  max-height: 510px;
}
.center {
  text-align: center;
  justify-content: center;
}
</style>
