<script lang="ts" setup>
import { ref } from "vue";

const imglocation = ref("../../feeling_imgs/smile.png");
const img = ref("Smile");

function imgAngry() {
  img.value = "Angry";
  imglocation.value = "../../feeling_imgs/angry.png";
}

function imgCute() {
  img.value = "Cute";
  imglocation.value = "../../feeling_imgs/cute.png";
}

function imgExcited() {
  img.value = "Excited";
  imglocation.value = "../../feeling_imgs/excited.png";
}

function imgPain() {
  img.value = "Pain";
  imglocation.value = "../../feeling_imgs/pain.png";
}

function imgShocked() {
  img.value = "Shocked";
  imglocation.value = "../../feeling_imgs/shocked.png";
}

function imgSmile() {
  img.value = "Smile";
  imglocation.value = "../../feeling_imgs/smile.png";
}
</script>
<template>
  <v-row>
    <v-col cols="6"
      ><v-img :src="imglocation" cover class="ma-6 imgSize"></v-img
    ></v-col>
    <v-col cols="6">
      <div style="text-align: center" class="text-h4 ma-6">{{ img }}</div>

      <v-btn class="btnSize mb-6" height="50px" @click="imgAngry()" block
        >ANGRY</v-btn
      >

      <v-btn class="btnSize mb-6" height="50px" @click="imgCute()" block
        >CUTE</v-btn
      >

      <v-btn class="btnSize mb-6" height="50px" @click="imgExcited()" block
        >EXCITED</v-btn
      >

      <v-btn class="btnSize mb-6" height="50px" @click="imgPain()" block
        >PAIN</v-btn
      >

      <v-btn class="btnSize mb-6" height="50px" @click="imgShocked()" block
        >SHOCKED</v-btn
      >

      <v-btn class="btnSize mb-6" @click="imgSmile()" block>SMILE</v-btn>
    </v-col>
  </v-row>
</template>

<style scoped>
button:focus {
  background: yellow;
}
.imgSize {
  width: 400px;
}
.btnSize {
  height: 50px;
}
</style>
