<script lang="ts" setup>
import { ref } from "vue";

const num = ref(0);
</script>

<template>
  <div>
    <v-container>
      <v-row>
        <v-text-field
          class="my-5"
          v-model.number="num"
          label="Please input Number"
          :rules="[(v) => !!v || 'Number is not empty!!']"
        ></v-text-field>
      </v-row>

      <v-row>
        <v-container class="sizetable">
          <v-row
            ><v-col v-for="(item, index) in num" :key="index" cols="1">
              <div class="my-7">{{ item }}</div>
            </v-col></v-row
          >
        </v-container>
      </v-row>
    </v-container>
  </div>
</template>
<style scoped>
.sizetable {
  overflow-y: auto;
  height: 500px;
}
</style>
